.sectionSeletedProduct{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    overflow: hidden;
   
}


/* .sectionDeselectedProduct{
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #004e7e;
    overflow: hidden;
   
} */
.containSelectedProduct{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 1rem;
    padding-top: 2.5rem;
    gap: 6px;
  
 

}

.h1{
    height: auto;
    width: auto;
    font-size: 1rem;
    font-weight: bold;
    color: #004e7e;
    margin-block-start: 0em;
    margin-block-end: 0em;
    display: flex;
    text-align: start;
}
.h1noProduct{
  height: auto;
  width: auto;
  font-size: 1rem;
  font-weight: bold;
  color: #004e7e;
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: flex;

}
.img{
    width: 50px;
    height: 50px;
}
.p:nth-of-type(1){
    font-size: 0.7rem;
    font-weight: 600;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
    text-align: start;
}
.p{
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.buttonDeselectProduct {
    position: absolute;
    top: 0px;
    width: 90%;
    background-color: #ff4d4d; /* Rojo suave */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .buttonDeselectProduct:hover {
    background-color: #e60000; /* Rojo más intenso al hacer hover */
  }
  

  .buttonDeselectProduct {
    position: absolute;
    top: 0px;
    width: 15%;
    background-color: #ff4d4d; /* Rojo suave */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .buttonDeselectProduct:hover {
    background-color: #e60000; /* Rojo más intenso al hacer hover */
  }
  
  .buttonDeselectProduct:active {
    background-color: #cc0000; /* Rojo más oscuro al hacer clic */
  }
  
  .buttonDeleteProduct {
    width: 90%;
    height: 3rem;
    background-color: #ff4d4d; /* Rojo suave */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .buttonDeleteProduct:hover {
    background-color: #e60000; /* Rojo más intenso al hacer hover */
  }
  
  .buttonDeleteProduct:active {
    background-color: #cc0000; /* Rojo más oscuro al hacer clic */
  }

  .buttonUpdateProduct {
    width: 90%;
    height: 3rem;
    background-color: #4d79ff; /* Azul suave */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .buttonUpdateProduct:hover {
    background-color: #3366cc; /* Azul más oscuro al hacer hover */
  }
  
  .buttonUpdateProduct:active {
    background-color: #0033cc; /* Azul aún más oscuro al hacer clic */
  }

  .table {
    width: 100%;
    min-height: 10vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 11px;
  }
  
  .tableRow {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* height: 2vh; */
  }
  
  .tableRow:hover {
    background-color: #f0f8ff; /* Color de fondo en hover */
   
  }
  
  .tableRow:nth-of-type(1) {
    height: 40px !important; 
    position: sticky;
    top: 0;
    background-color: #e0f7fa; /* Fondo para el encabezado */
    z-index: 1;
  }
  
  .tableRow:last-of-type {
    position: sticky;
    bottom: 0;
    background-color: #fff; 
    z-index: 1;
  }
  
  .th, .td {
    text-align: center; 
    padding: 10px; /* Aumentar el padding para más espacio */
    border-bottom: 1px solid #ddd;
  }
  
  .th {
    background-color: #004e7e; /* Gris claro */
    color:white; /* Texto blanco */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }
  
  .td {
    transition: background-color 0.3s ease; /* Transición suave para el hover */
  }
  
  .td:hover {
    background-color: #f7f7f7; /* Color de fondo en hover para celdas */
  }