.containerBackSidebarInventory{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;

    border-radius: 10px;
    background-color: #004e7e;
    
   
}
.buttonBack{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: none;
    cursor: pointer;
}
.imgBack{
    width: 25px;
    height: 25px;
 
}