.containInventory {
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    gap: 1rem;
    /* background-color: #d0d0d0; */

}

.containSidebar {
    width: 18%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    gap: 0.5rem;
    /* background-color: white; */

}
.containTable{
    width: 78%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
    background-color: red;
    overflow-y: auto;
    position: relative;
}

.ButtonSidebar {
  width: 90%;
  height: 3rem;
  color: #ffffff; /* Color del texto */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease; /* Transición suave para el hover */
}
  /* Botón Actualizar */
  .ButtonUpdate {
    background-color: #007bff; /* Azul */
  }
  
  .ButtonUpdate:hover {
    background-color: #0056b3; /* Azul más oscuro */
  }
  
  /* Botón Eliminar */
  .ButtonDelete {
    background-color: #dc3545; /* Rojo */
  }
  
  .ButtonDelete:hover {
    background-color: #c82333; /* Rojo más oscuro */
  }
  
  /* Botón Crear */
  .ButtonCreate {
    background-color: #28a745; /* Verde */
  }
  
  .ButtonCreate:hover {
    background-color: #218838; /* Verde más oscuro */
  }



  .table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: aqua; */
    table-layout: relative;
    margin-top: 4.5rem;
  }
  .tableHead  {
    position: -webkit-sticky; /* Para Safari */
    position: sticky; /* Para otros navegadores */
    top: 0; /* Fija el encabezado en la parte superior */
    background-color: #f4f4f4; /* Asegura un buen contraste */
    z-index: 2; /* Asegura que el encabezado quede sobre las filas */
    
  }
  .tableRow{
    position: relative;
    margin-top: 10px;
  }
  
  .th, .td {
    padding: 4px;
    border-bottom: 1px solid #ddd;
  }
  .th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px ;
  }
  .th:nth-of-type(1) {
    width: 120px;
    overflow: hidden;
    background-color: #f4f4f4;
  
  }
  .th:nth-of-type(2) {
    width: 90px;
    overflow: hidden;
    background-color: #f4f4f4;
  
  }
  .th:nth-of-type(3) {
    width: 90px;
    overflow: hidden;
    background-color: #f4f4f4;
  
  }

  .th:nth-of-type(4) {
    width: 90px;
    overflow: hidden;
    background-color: #f4f4f4;
  
  }

  .td:nth-of-type(1){
    margin-top: 10rem;
    font-size: x-small;
    font-weight: bold;
  }


  
  .tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .tbody{



  }

  .tbody tr:hover {
    background-color: #eaf2ff;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  }
  
  .tbody tr {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .img:hover {
    transform: scale(1.1);
  }
  
  .noProducts {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    color: #666;
  }
  
  .tableFooter {
    background-color: #f4f4f4;
    padding: 5px;
    text-align: left;
    font-size: 14px;
    color: #333;
    position: -webkit-sticky; /* Para Safari */
    position: sticky; /* Para otros navegadores */
    bottom: 0; /* Fija el pie de tabla en la parte inferior del contenedor */
  
    z-index: 2; /* Asegura que el pie de tabla quede sobre las filas */
    border-top: 1px solid #ddd;

  }