.containInventory {
  width: 100%;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  gap: 1rem;
  /* background-color: aqua; */
  /* background-color: #d0d0d0; */

}

.containSidebar {
  width: 18%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;


}

.Tools {
  /* background-color: #007bff; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.inventoryTitle {
  color: #004e7e;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #b0d0e4;



}



.ButtonSidebar {
  width: 80%;
  height: 3rem;
  color: #ffffff;
  /* Color del texto */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  /* margin-bottom: 1rem; */
  transition: background-color 0.3s ease;
  /* Transición suave para el hover */
}
.hr{
  width: 90%;
  height: 1px;
  background-color: #004e7e;
  margin: 0;
}

/* Botón Actualizar */
.ButtonUpdate {
  background-color: #007bff;
  /* Azul */
}

.ButtonUpdate:hover {
  background-color: #0056b3;
  /* Azul más oscuro */
}

/* Botón Eliminar */
.ButtonDelete {
  background-color: #dc3545;
  /* Rojo */
}

.ButtonDelete:hover {
  background-color: #c82333;
  /* Rojo más oscuro */
}

/* Botón Crear */
.ButtonCreate {
  background-color: #28a745;
  /* Verde */
}

.ButtonCreate:hover {
  background-color: #218838;
  /* Verde más oscuro */
}
.containTable {
  width: 78%;
  height: 95%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow-y: auto;
  position: relative;
}

.containHome{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 5px;

}

.table {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  table-layout: fixed;
}

.tableRow {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tableRow:hover {
  background-color: #f0f8ff; /* Color de fondo en hover */
 
}

.tableRow:nth-of-type(1) {
  height: 40px;
  position: sticky;
  top: 0;
  background-color: #e0f7fa; /* Fondo para el encabezado */
  z-index: 1;
}

.tableRow:last-of-type {
  position: sticky;
  bottom: 0;
  background-color: #fff; 
  z-index: 1;
}

.th, .td {
  text-align: center; 
  padding: 10px; /* Aumentar el padding para más espacio */
  border-bottom: 1px solid #ddd;
}

.th {
  background-color: #004e7e; /* Gris claro */
  color:white; /* Texto blanco */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

.td {
  transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.td:hover {
  background-color: #f7f7f7; /* Color de fondo en hover para celdas */
}

.img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img:hover {
  transform: scale(1.1);
}

.noProducts {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: #666;
}
