
.containerCategory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    z-index: 3;
    position: relative;
    
}

.containerCreateCategoryInventoryForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 95%;
    height: 100%;
    overflow: hidden;
    z-index: 3;


}



.h2 {
    margin-top: 4.5rem;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}


.form {
    margin-top: 1rem;


}

.label {
    width: 92%;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 0.5rem;
}

.input,
.select {
    width: 92%;
    padding: 0.45rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.input:focus,
.select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button {
    padding: 0.75rem 1rem;
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 3rem;
}

.button:hover {
    background-color: #218838;

}